@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --primary-text: #000;
    --primary-background: #fff;
    --separator: #dbdbdb;
    --hover-overlay: rgba(0,0,0,.05);
    --tertiary-icon: #c7c7c7;
  }

  .dark {
    --primary-text: #fff;
    --primary-background: #000;
    --separator: #262626;
    --hover-overlay: rgba(255,255,255,.1);
    --tertiary-icon: #737373;
  }

@layer components {
  .side-bar__item {
    @apply flex items-center md:justify-start p-3 w-full sm:my-1 hover:!bg-hover-overlay rounded-lg text-primary-text gap-x-4 hover:transition-colors hover:duration-300 active:opacity-60;
  }

  .side-bar__item:active svg {
    transform: scale(0.9);
    transition: all 0.3s;
  }
}

body {
  @apply text-primary-text bg-primary-background  
}
